<section class="footer">
    <a class="logo_footer">
        <img class="logo" src="images/logo.png">
    </a>
        <ul class="nav_list">
            <li class="nav_list_item">
                <a>FAQ</a>
            </li>
            <li class="nav_list_item">
                <a href="/contact">contact</a>
            </li>
        </ul>
</section>