<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAB</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson Text' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Dawning of a New Day' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>
<section class="nav">
    <a class="logo_nav" href="/">
        <img class="logo" src="images/logo.png">
    </a>
    <!-- <div class="nav_list_container"> -->
        <ul class="nav_list">
            <li class="nav_list_item">
                <a href="/">.home</a>
            </li>
            <li class="nav_list_item">
                <a href="/post">.post</a>
            </li>
            <li class="nav_list_item">
                <a href="/contact">.contact</a>
            </li>
        </ul>
    <!-- </div> -->
</section>