<%- include("partials/header.ejs") %>
<section class="contact_container">
    <div class="contact_block">
        <h1 class="contact_header">Contact Us</h1>
        <div class="contacts_list">
            <p class="plane_text">123 Elm Street <br> Anytown, USA<br>zipcode: 12345</p>
            <a href="mailto:jab.contact.center@mail.com" class="contact_link">jab.contact.center@mail.com</a><br>
            <a href="tel:+46 12 345 67 89" class="contact_link">+46 12 345 67 89</a>
        </div>

    </div>
</section>
<%- include("partials/footer.ejs") %>